@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab');

#page-content, .bio-box {
    font-family: 'Roboto Slab', serif;
}
.headerText, #page-content .header{
    font-family: 'Bitter', serif !important;
    font-size: 40px;
}